@page
@model AddBookModel
@{
    ViewData["Title"] = "Add Book";
}

@if (Request.Cookies["is_admin"] == "admin")
{

    <form method="post" enctype="multipart/form-data">
        <div class="container mt-5">
            <h2>Add Book</h2>
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" id="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Author" class="form-label"></label>
                <input asp-for="Author" id="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Publisher" class="form-label"></label>
                <input asp-for="Publisher" id="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Language" class="form-label"></label>
                <input asp-for="Language" id="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="cover_image" class="form-label">Cover Image</label>
                <input asp-for="cover_image" type="file" id="cover_image" class="form-control" accept="" />
                <span asp-validation-for="cover_image" class="text-danger"></span>

            </div>

            <button type="submit" class="btn btn-primary">Add Book</button>
        </div>

    </form>
}
else
{
    <h2>Access Denied ,Please Sign in</h2>
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="module" src="~/js/addingBook.js"></script>
