@page
@model AddBookModel
@{
    ViewData["Title"] = "Add Book";
}

@if (Request.Cookies["is_admin"] == "admin")
{

    <form method="post">
        <div class="container mt-5">
            <h2>Add Book</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Author" class="form-label"></label>
                    <input asp-for="Author" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Publisher" class="form-label"></label>
                    <input asp-for="Publisher" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Language" class="form-label"></label>
                    <input asp-for="Language" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="cover_image" class="form-label"></label>
                    <input asp-for="cover_image" type="file" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="review_id" class="form-label"></label>
                    <input asp-for="review_id" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Add Book</button>
            </form>
        </div>

    </form>
}
else
{
    <h2>Access Denied ,Please Sign in</h2>
}



@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
