@page
@model AddClubModel
@{
    ViewData["Title"] = "Add Club";
}

@if (Request.Cookies["is_admin"] == "admin")
{
    <form method="post">
        <div class="container mt-5">
            <h2>Add Club</h2>
            <div class="mb-3">
                <label asp-for="club_name" class="form-label"></label>
                <input asp-for="club_name" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="club_desc" class="form-label"></label>
                <textarea asp-for="club_desc" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Club</button>
        </div>
    </form>
}
else
{
    <h2>Access Denied, Please Sign in</h2>
}
