@page
@model AddQuoteModel
@{
    ViewData["Title"] = "Add Quote";
}

@if (Request.Cookies["User"] != null)
{
    <form method="post">
        <div class="container mt-5">
            <h2>Add Quote</h2>
            <div class="mb-3">
                <label asp-for="quote_text" class="form-label"> Quote Text</label>
                <textarea asp-for="quote_text" class="form-control"></textarea>
                <span asp-validation-for="quote_text" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="page_number" class="form-label"> Pages Number</label>
                <input asp-for="page_number" class="form-control" />
                <span asp-validation-for="page_number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <select asp-for="BookID">
                    @foreach (var book in Model.bookslist)
                    {
                        <option value="@book.Id">@book.Title</option>
                    }
                </select>

            </div>
            <button type="submit" class="btn btn-primary">Add Quote</button>
        </div>
    </form>
}
else
{
    <h2>Access Denied, Please Sign in</h2>
}
