@page
@model AddReviewModel
@{
    ViewData["Title"] = "Add Review";
}

@if (Request.Cookies["User"] != null)
{
    <form method="post">
        <div class="container mt-5">
            <h2>Add Review</h2>

            <!-- Book Selection -->


            <!-- Rating Input -->
            <div class="mb-3">
                <label asp-for="rating" class="form-label">Rating</label>
                <input asp-for="rating" class="form-control" type="number" min="0" max="5" />
            </div>

            <!-- Description Input -->
            <div class="mb-3">
                <label asp-for="review_text" class="form-label">Description</label>
                <textarea asp-for="review_text" class="form-control" rows="4"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Add Review</button>
        </div>
    </form>
}
else
{
    <h2>Access Denied, Please Sign in</h2>
}
