@page
@model BookModel
@{
    ViewData["Title"] = "Books";
}

<h1 class="my-5">Books</h1>

<div class="book-list row">
    @if (Request.Cookies["User"] != null)
    {
        @if (Model.Books != null && Model.Books.Any())
        {
            foreach (var book in Model.Books)
            {
                <div class="col-md-4">
                    <article class="book-item">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h3 class="book-title card-title">@book.Title</h3>

                                <p class="book-author text-muted">by @book.Author</p>

                                <a class="btn btn-primary" href="/BookDetails?itemid=@book.Id">View Details</a>

                                <form method="post" class="my-3">
                                    <input type="hidden" name="BookId" value="@book.Id" />
                                    <input type="submit" value="Add the book" class="btn btn-primary">
                                </form>

                            </div>
                        </div>
                    </article>
                </div>
            }
        }
        else
        {
            <p>No books available.</p>
        }
    }
    else
    {
        <p>You need to sign in to get the books.</p>
    }
</div>
