@page
@model ReadSphere.Pages.ClubsModel
@{
}
<div>
    <h1>Clubs</h1>
    <p> this seciton Will take about the Clubs in the university</p>
    <button class="btn btn-primary">
        Join a club
    </button>
    @foreach (var club in Model.Clubs)
    {
        <div class="card mb-4" style="max-width: 300px;">
            <div class="card-body">
                <h5 class="card-title">@club.Name</h5>
                <p class="card-text">@club.Desc</p>
            </div>
        </div>
    }

</div>