@page
@model Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - ReadSphere</title>
        <link rel="stylesheet" href="css/register.css" />
    </head>

    <body>
        <div class="container">
            <div class="register-container">
                <div class="logo-section">
                    <h1>ReadSphere</h1>
                    <p>Meet your next favorite book</p>
                </div>

                <form id="loginForm" class="register-form">
                    <h2>Login</h2>

                    <div class="form-group">
                        <input type="text" id="name" asp-for="Name" required placeholder="Name">
                    </div>

                    <div class="form-group">
                        <input type="email" id="email" asp-for="Email" required placeholder="Email">
                    </div>


                    <button type="submit" class="signup-btn">Login </button>



                    <div class="login-link">
                        Don't have an account? <a href="/Register">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
        <script type="module" src="js/register.js"></script>
    </body>

</html>
