@using Microsoft.AspNetCore.Http
@using System.ComponentModel.DataAnnotations
@using ViewModels
<link rel="stylesheet" href="~/css/site.css" />


@model AddBookModel
@{
    ViewData["Title"] = "Add Book";
}

@if (User.IsInRole("Admin"))
{
    <form asp-action="AddBookToDB" asp-controller="AddBook" method="post" enctype="multipart/form-data">
        <div class="container mt-5">
            <h2>Add Book</h2>

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Author" class="form-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Publisher" class="form-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Language" class="form-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CoverImage" class="form-label"></label>
                <input asp-for="CoverImage" type="file" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Add Book</button>
        </div>
    </form>
}
else
{
    <h2>Access Denied. Please sign in.</h2>
}



<script src="~/js/addingBook.js" type="module"></script>